<div class="content">
    

    <div class="imagen">
        <br />
         <img src='https://i.postimg.cc/Hnhx7QtD/2.png' border='2' alt='2' style="height: 200px"/> 
        <br />
    </div>
    <div class="header"> Page 404</div>
    <div class="body">  
        <br>
        Error en el redireccionamiento, esta pagina no existe..
    </div>
    <div class="redir">
            <a class="button" href="javascript:window.history.go(-1);">
       
                    <button class="btn waves-effect waves-light" type="submit" name="action">
                        
                        Regresar 
                        <i class="material-icons right">fast_rewind</i>
                    </button>
                </a>
    <a class="button" href="/Auth/login">
        <button class="btn waves-effect waves-light" type="submit" name="action">Inicio
                <i class="material-icons right">fast_forward</i>
        </button>
    </a>


    </div>
  
</div>
