.content{
    font-family: sans-serif;
    
}
.header{
    font-size: 600%;
    text-align: center;
    font-weight: bold;
    color: rgb(000,060,077); 
}
.title{
    font-size: 300%;
    text-align: center; 
}
.body{
    font-size:  150%;
    text-align: center; 
    color: rgb(000,060,077); 
}
.imagen{

position: relative;
left: 120px;
}
.redir{ 
    left: 400px;
    top: 100px;

    position: relative;
}
.button{ 
    margin: 20px;
}