<div class="colmena"> 
    <div> 
        <app-sidenav class="sidenavv"  titulo = 'titulos'></app-sidenav>
    </div>

   <div class="hexagon" id="lickeable" routerLink="../users/list" style="background-color: #5C258D; " >
        <span class="textoUsuarios " > e-Users </span>
   </div>

   <div class="hexagon hexa2" id='linkeable'  routerLink="../eservices/home" style="background-color: blueviolet; left: 351px; top:-30px; position: relative; z-index: 10" >
           <span class="textoActividades"> e-Services </span>
   </div>

   <div class="hexagon" routerLink="../elerearning/home"  style="background-color: #2ebf91 ; left: 275px; top:-30px; position: relative; z-index: 10" >
           <span class="textoActividades"><a href="../elerearning/home" style="color: white;">e-Talent</a>  </span>
   </div>
   <div class="hexagon" routerLink="../ejourney/dashboard" style="background-color:  #2ebf91; left: 427px; top:-160px; position: relative; z-index: 10" >
           <span class="textoActividades"> e-Journey </span>
   </div>
   <div class="hexagon" style="background-color: grey; left: 500px; top:-420px; position: relative; z-index: 9" >
           <span class="textoActividades">  </span>
   </div>
</div>
      
