.form-rolConfig{
    border-color: #f0f0f0;
    border-radius: 10px;    
    border-style: solid;
    margin-top: 10px;
    padding: 10px;    
 }
.btn-save-rols{
    margin-left: 4px;
    margin-right: 4px;
} 
.header-rols{
    background-color: #f0f0f0;
}