.sidenavv {
  position: fixed ;
  z-index: 4;
  top: 75px;
  left: 2px; 
  width: 23%;  
    /* zoom: 0.8; */
    }
body{
    padding: 10px;
    border-style: solid; 
    border-radius: 3px;
    border-color:rgb(112, 81, 134);  
    border-width: 1px; 
}
.tableleftname{
  border-style: solid;
  top:15px; 
  margin-top: 15px;
  padding: 28px;
  height: 100px;
  background-color: whitesmoke;
  border-style: solid;
  border-radius: 2px;
  border-color: grey;
  border-width: 1px;
}
.input-field{
  z-index: 2;
  background-color: whitesmoke;
  margin-bottom: -15px;
  height: 75px;
  margin-top: 0px;
  border-style: solid;
  border-radius: 2px;
  border-color: grey;
  border-width: 1px;
}
.input-field3{
  z-index: 2;
  background-color: whitesmoke;
  margin-bottom: -15px;
  height: 75px;
  margin-top: 0px;
  border-style: solid;
  border-radius: 2px;
  border-color: grey;
  border-width: 1px;
}


.content{
    margin-top:20px;
    margin-left:0px;
    width: 130%;
    height: 110%;
    /* background-color: aqua; */
}

    .start-management{
        z-index: 2;
        /* border-style: solid; */
       /*  width: 1300px; */
        /* border-radius: 2px;
        border-color: grey;
        border-width: 1px; */
    }
   
.tableleft {
    border-style: solid;
    top:15px; 
    height: 75px;
    padding: 28px;
    border-style: solid;
    border-radius: 2px;
    border-color: grey;
    border-width: 1px;
}

.input-field{
    z-index: 2;
    border-style: solid;
    top:0px; 
    
    height: 75px;
    padding: 28px;
    border-style: solid;
    border-radius: 2px;
    border-color: grey;
    border-width: 1px; 
    background-color: whitesmoke;
}
.tableleftname{
    border-style: solid;
    top:15px; 
    padding: 28px;
    height: 100px;
    background-color: whitesmoke;
    border-style: solid;
    border-radius: 2px;
    border-color: grey;
    border-width: 1px;
}

.input-field1{
    z-index: 2;
    background-color: whitesmoke;
    margin-bottom: 35px;
    height: 100px;
    margin-top: 15px;
    border-style: solid;
    border-radius: 2px;
    border-color: grey;
    border-width: 1px;
}


